* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./imagens/bg.jpg);
  background-size: cover;
  overflow-x: hidden;
}

.container {
  width: 80vw;
  height: 700px;
  background-color:#ffffff66;
  border: 2px solid #ffffff99;
  margin: 10vh auto;
  border-radius: 5px;
}

.filter__btns {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid #fff;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .2s ease;
}

.btn:not(:first-child) {
  margin-left: 30px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 90vw;
    margin: 3vh auto;
  }
  .filter__btns {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 90%;
  }

  .btn:not(:first-child) {
    margin-top: 10px;
    margin-left: 0;
  }
}

.btn:hover {
  background-color: #fff;
}

.btn.active {
  background-color: #fff;
}

.filter__imgs {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-gap:20px;
  justify-content: center;
  padding: 10px;
}

.filter__imgs img {
  width: 210px;
  height: 200;
  object-fit: cover;
  border: 2px solid #ffffff99;
  border-radius: 5px;
  animation: show .5s ease backwards;
}

.filter__imgs img:hover {
  transform: scale(1.2);
  transition: transform .3s ease;
}

.hide {
  display: none;
}

@keyframes show {
  0% {
    transform: Translate(-50%, 100%) scale(0);
  }
  100% {
   transform: translate(0, 0) scale(1);
  }
}
