* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./imagens/bg.jpg);
  background-size: cover;
}

.container {
  width: 80vw;
  height: 700px;
  background-color:#ffffff66;
  border: 2px solid #ffffff99;
  margin: 10vh auto;
  border-radius: 5px;
}

.filter__btns {
  margin-top: 50px;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid #fff;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .2s ease;
}

.btn:not(:first-child) {
  margin-left: 30px;
}

.btn:hover {
  background-color: #fff;
}

.btn.active {
  background-color: #fff;
}

.filter__imgs {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 210px);
  grid-gap:20px;
  justify-content: center;

}

.filter__imgs img {
  width: 210px;
  height: 200;
  object-fit: cover;
  border: 2px solid #ffffff99;
  border-radius: 5px;
}

.filter__imgs img:hover {
  transform: scale(1.2);
  transition: transform .3s ease;
}